/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 225px;
  margin: auto;
  height: auto;
  text-align: center;
  margin: 25px 25px 25px 25px;
  border-radius: 15px;
  background-color: #0dd470;
} */

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.flex-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    width: 225px;
    margin: 20px 11px 20px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
  }

.title {
  font-size: 18px;
  width: 100%;
}

.fav-icon {
    float: right;
    margin-right: 10px;
}

.vis-icon {
    float: left;
    margin-left: 10px;
}

.card-image {
    padding-top: 10px;
    height: 270px;
}

.movie-image
{
background-image:url('/assets/sample_image.jpg');
}

.circular--square {
    border-radius: 10%;
  }

.ratings {
    font-weight: bold;
}

.background-white {
    background-color: #FFF;
}
  
.background-orange {
    background-color: #ED6606;
}

.background-yellow {
    background-color: #EEC907;
}
  
.background-green {
    background-color: #049452;
}